<!DOCTYPE html>
<html lang="en">

{% include static/head.html %}

<body>
  {% if site.google-analytics %}
    {% include static/google-analytics.html %}
  {% endif %}

  {% if site.preloader == true %}
  <!-- preloader -->
  <div class="preloader">
    <div class="loader">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- /preloader -->
  {% endif %}


  <div class="dividers">
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="divider"></div>
  </div>

  {% include templates/header.html %}

    {{ content }}

  {% include templates/footer.html %}

  <!-- Plugin JS needed for the template -->
  <!-- ------------------------------------------------------------------------- -->

  <!-- jQuery -->
  <script src="{{ site.baseurl }}/assets/plugins/jQuery/jquery.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="{{ site.baseurl }}/assets/plugins/bootstrap/bootstrap.min.js"></script>

  <!-- Slick slider -->
  <script src="{{ site.baseurl }}/assets/plugins/slick/slick.min.js"></script>

  <!-- Masonry -->
  <script src="{{ site.baseurl }}/assets/plugins/masonry/masonry.js"></script>

  <!-- Instafeed -->
  <script src="{{ site.baseurl }}/assets/plugins/instafeed/instafeed.min.js"></script>

  <!-- Headroom -->
  <script src="{{ site.baseurl }}/assets/plugins/headroom/headroom.js"></script>

  <!-- Reading time -->
  <script src="{{ site.baseurl }}/assets/plugins/reading-time/readingTime.min.js"></script>

  <!-- Lunr -->
  <script src="{{ site.baseurl }}/assets/plugins/search/lunr.min.js"></script>

  <!-- Search -->
  <script src="{{ site.baseurl }}/assets/plugins/search/search.js"></script>

  <!-- Main JS Script -->
  <!-- ------------------------------------------------------------------------- -->
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>
